.country{
    border: 2px solid darkcyan;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(59, 59, 54);
}
.flagsImg{
    width: 100px;
}
.visT{
    color:white;
    font:800px;
    background-color: rgb(51, 247, 51);
    border-radius: 5px;
}
.visF{
    color:white;
    font:800px;
    background-color: rgb(241, 148, 49);
    border-radius: 5px;
}
.visited{
    background-color: rgb(64, 209, 45);
}